/************ General ************/
* {
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(14, 51, 119);
    --primary-color-transparent: rgba(14, 51, 119, 0.8);
    --secondary-color: rgb(139, 139, 139);
    --secondary-color-transparent: rgba(139, 139, 139, 0.5);
    --tertiary-color: rgb(214, 25, 25);
    --tertiary-color-transparent: rgba(214, 25, 25, 0.5);
}
body {
    background-color: var(--primary-color-transparent);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    text-align: center;
}
button {
    padding: 7px 10px;
    font-size: 1.0rem;
    margin: 2px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: var(--secondary-color);
}
button:hover {
    background-color: var(--secondary-color-transparent);
}
input, input:hover, input:focus {
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--primary-color);
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 2px;
}
input[disabled], button[disabled] {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}
h4 {
    font-weight: normal;
    padding: 5px;
    margin: 0px;
}
button.btn-delete {
    padding: 7px 13px;
    background-color: var(--tertiary-color-transparent);
}
button.btn-delete:hover {
    background-color: var(--tertiary-color);
}
/************ General ************/


/************ Select Item Area ************/
div.dropdown {
    position: relative;
}
div.dropdown-search {
    /* border: 1px solid red; */
}
div.dropdown-content {
    position: absolute;
    top: 30px;
    overflow: auto;
    min-width: 80%;
    z-index: 1;
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    background-color: var(--primary-color-transparent);
}
div.dropdown-content ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
div.dropdown-content li {
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
    margin: 0px;
    width: auto;
}
div.dropdown-content li:hover {
    background-color: var(--secondary-color);
}
.dropdown-input {
    /* box-sizing: border-box; */
    /* background-image: url('searchicon.png'); */
    /* background-position: 14px 12px; */
    /* background-repeat: no-repeat; */
    /* font-size: 14px; */
    padding: 5px;
    border: none;
    border-radius: 3px;
    /* border-bottom: 1px solid #ddd; */
    width: auto;
}
.dropdown-input:focus {
    /* outline: 3px solid #ddd; */
}
/************ Select Item Area ************/


/************ Modal ************/
div.modal-btn button {
    display: inline;
}
div.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0px !important;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
div.modal-content {
    background-color: var(--primary-color);
    margin: auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 60%;
    height: 40vw;
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}
div.modal-header {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    width: 90%;
}
div.modal-header button {
    margin-left: 500px;
}
div.modal-list ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px;
    max-height: 300px;
    width: 500px;
    border: 1px solid var(--secondary-color);
}
div.modal-list li {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.modal-list li:hover {
    background-color: var(--secondary-color-transparent);
}
div.modal-li-input {
    min-width: 55%;
    max-width: 55%;
}
div.modal-li-input input {
    width: 100%;
}
div.modal input {
    padding: 8px;
}
.modal-li-active {
    background-color: var(--secondary-color-transparent);
}
div.modal-footer button {
    margin-left: auto;
}
div.modal-footer {
    width: 100%;
}
/************ Modal ************/


/************ Transaction Item Area ************/
div.transaction-item {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}
div.transaction-item div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto;
}
div.transaction-item div div {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.transaction-item div div label {
    margin: 0px 5px;
}
/************ Transaction Item Area ************/


/************ Search Transaction Area ************/
div.search-transaction-area {
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 15px;
    margin: 15px;
}
div.search-transaction-area > form > div {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}
div.search-transaction-area div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    /* border: 1px solid red; */
}
div.search-transaction-area label {
    margin-right: 3px;
}
/************ Search Transaction Area ************/


/************ Add Transaction Item Area ************/
div.add-transaction-item-area {
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 15px;
    margin: 15px;
}
div.add-transaction-item-area-btn {
    display: flex;
    justify-content: right;
}
div.add-transaction-item-area-btn button {
    margin-top: 5px;
}
/************ Add Transaction Item Area ************/


/************ Transaction Items List ************/
div.transaction-items-list {
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 15px;
    margin: 15px;
}
div.transaction-items-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
div.transaction-items-list ul {
    list-style-type: none;
    padding: 0px;
}
div.transaction-items-list li {
    text-decoration: none;
    margin: 5px;
}
div.transaction-items-total-value {
    margin-right: 50px;
    /* border: 1px solid red; */
}
div.transaction-items-total-value .value {
    font-weight: bold;
}
div.transaction-list-item-btn {
    display: flex;
    justify-content: right;
}
div.transaction-list-item-btn button {
    margin-top: 5px;
}
/************ Transaction Items List ************/